.env
.env.local
.vscode/
__pycache__/
/datasets
/sandbox/output
/ignore
/ocr_vs_vlm/logs
ocr_vs_vlm/crop_tests/*
sandbox/output/output.md
.claude/*
/ocr_vs_vlm/datasets/datasets_subsets

/ocr_vs_vlm/results/results_analysis
ocr_vs_vlm/results/results_postprocessing/*
ocr_vs_vlm/results/raw/*
ocr_vs_vlm/benchmarks/benchmark_*.py
