.env
.env.local
.vscode/
__pycache__/
/datasets
/sandbox/output
/ignore
/ocr_vs_vlm/logs
/ocr_vs_vlm/results
/ocr_vs_vlm/datasets_subsets
*.csv
ocr_vs_vlm/crop_tests/*
ocr_vs_vlm/results_postprocessing/*
ocr_vs_vlm/results_analysis/icdar_mini_eval.ipynb
*.ipynb
ocr_vs_vlm/results_analysis/icdar_mini_eval.ipynb
sandbox/output/output.md
